.results{
  display: flex;
  gap:20px;
  border: 1px solid black;
  width: 400px;
  margin: 0 auto;
}

.results--label{
  color: blue;
  font-size: 20px;
  font-weight: bold;
}

.results--value{
  color: brown;
  font-size: 25px;
  font-weight: bold;
}
